<table mat-table [dataSource]="_dataSource" class="mat-elevation-z8 MatTable">

  <!-- Column -->
  <ng-container *ngFor="let columnName of columnList" [matColumnDef]="columnName.name">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <!-- <mat-checkbox [(checked)]="selectedItemsList[columnName]">
        </mat-checkbox> -->
        <span>{{columnName.name | uppercase}}</span>

        <!-- {{columnName|json}} -->

        <!-- <mat-select (selectionChange)="onSelectionChange($event.value, columnName)" [value]="'Nombres'"> -->
        <mat-select (selectionChange)="onSelectionChange($event, columnName)" [(value)]="columnName.columnKey">
          <mat-option *ngFor="let field of listFields" [(value)]="field.key">
            {{field.name}}
          </mat-option>
        </mat-select>

      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[columnName.name]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <button mat-button (click)="exportList()">Guardar</button>
</div>
