.MatTable {
  width: 100%;
}

.title-list {
  background-color: #53bbb5;
  color: white;
  margin: 0;
  padding: 12px 0 10px 5px;
}

.cell-header-table{
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}